body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2C2F48;
  font-family: 'Heebo', sans-serif;
  box-sizing: border-box;
}

code {
  font-family: 'Heebo', sans-serif;
}
